// Variables de colores
$bg-dark: #0f172a
$neon-blue: #00f2ff
$text-white: #f8fafc

// Estilo Global
body
  margin: 0
  padding: 0
  background-color: $bg-dark
  color: $text-white
  font-family: 'Inter', sans-serif

.app-container
  min-height: 100vh

.navbar
  padding: 1rem 2rem
  border-bottom: 1px solid rgba($neon-blue, 0.3)
  display: flex
  justify-content: space-between
  align-items: center

  h1
    color: $neon-blue
    text-shadow: 0 0 10px rgba($neon-blue, 0.5)
    margin: 0